.tabla-misTragos {
    margin: 0 25% 75%;
    text-align: center;
}

h1{
    color: white;
    margin: 0;
}

@media(max-width: 560px) {

    .tabla-misTragos {
        margin: 0 -5px;

    }

    .table{

        font-size: 0.70rem;
    }

    .marg_footer{
        margin-top: 150%;
    }

}