.drinksCard{
    list-style: none;
    font-size: 1.5rem;
    text-align: center;
}

img {
    width: 100%;
    display: block;
    border-radius: var(--mainBorderRadius);
    width: 230px;
    height: 345px;
    border-radius: 15px;
    box-shadow: 0 0 20px #5b6d5d;
  }

@media(max-width: 560px){
    .drinkImage{
        width: 90%;
        height: auto;
    }
}