
  .section {
    padding: 5rem 0;
  }

  .cocktail-section {
    text-align: center;
  }

  .drink {
    width: var(--smallWidth);
    max-width: var(--fullWidth);
    margin: 0 auto;
    text-align: left;
  }
  .drink p {
    font-weight: bold;
    text-transform: capitalize;
    line-height: 1.8;
  }

  .drink img {
    width: 100%;
    display: block;
    border-radius: var(--mainBorderRadius);
    width: 400px;
    height: 400px;
    border-radius: 15px;
    box-shadow: 0 0 20px #5b6d5d;
  }


  .drink span {
    margin-right: 0.5rem;
  }

  .drink-info {
    padding-top: 2rem;
  }

  .drink-data {
    background: var(--primaryLightColor);
    padding: 0.25rem 0.5rem;
    border-radius: var(--mainBorderRadius);
    color: var(--primaryColor);
    box-shadow: 0 0 10px #5b6d5d;
  }

  .btn,
  .btn-primary {
    text-transform: uppercase;
    letter-spacing: var(--mainSpacing);
    color: var(--primaryLightColor);
    border: 2px solid var(--primaryLightColor);
    padding: 0.45rem 0.8rem;
    display: inline-block;
    transition: var(--mainTransition);
    cursor: pointer;
    font-size: 0.8rem;
    background: transparent;
    border-radius: var(--mainBorderRadius);
    display: inline-block;
  }
  .btn:hover {
    background: var(--primaryColor);
    color: var(--mainWhite);
  }
  @media screen and (min-width: 992px) {
    .drink {
      display: grid;
      grid-template-columns: 2fr 3fr;
      gap: 3rem;
      align-items: center;
    }
    .drink-info {
      padding-top: 0;
    }
  }